.menu__action-button {
  min-width: 66px;
  height: 23px;
  border: 0 none;
  background-color: black;
  padding: 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-align: right;

  color: #A9A9A9;
}

.menu__action-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .menu__action-button {
    margin-bottom: 40px;
  }
}
