
.menu__user-mail {
  width: 141px;
  height: 22px;

  padding: 0 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-align: right;

  color: #FFFFFF;           
}

@media screen and (max-width: 440px) {
  .menu__user-mail {
    padding: 40px 0 18px 0;
  }
}
